{% extends "layout.html" %}

{% block title %}
    Set Relative Humidity
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <ul>
            {% for n in my_list %}
            <li>{{n}}</li>
            {% endfor %}
            </ul>
            <div class="col-sm-4">Current Temperature: {{info[3]}} F</div>
            <div class="col-sm-4">Current Relative Humidity: {{info[4]}} %</div>
            <div class="col-sm-4">Predicted Relative Humidity: {{info[5]}} %</div>
        </div>
    </div>
    <form action="{{ url_for('setrelhum') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="humidity" placeholder="Enter Preferred Humidity" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
    <div class="container-fluid">
        <div class="row">
            <ul>
            {% for n in my_list %}
            <li>{{n}}</li>
            {% endfor %}
            </ul>
            <div class="col-sm-4">Temperature: {{info[3]}} F</div>
            <div class="col-sm-4">Current Relative Humidity: {{info[4]}} %</div>
            <div class="col-sm-4">Predicted Relative Humidity: {{info[5]}} %</div>
        </div>
    </div>
{% endblock %}